body {
    text-align: center;
    background-color: #35586C;
}

#quote-box {
    margin: 15% 30%;
}

button {
    margin: 10px;
    background-color: #35586C !important;
    color: white !important;
    font-size: 0.5em !important;
}

.well {
    color: #35586C;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

#author {
    text-align: right;
}

a:link {
  text-decoration: none;
  color: white;
}
